body {
  font-family: lato, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.div-links div .btn-style {
  padding: 0.9rem 4rem;
  background-color: #288855;
  color: white;
  border-radius: 0.3rem;
}

.sect-one-p,
.sect-one-p2,
.sect-two-p,
.sect-three-p {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.sect-one-hover:hover {
  text-decoration: underline;
}
.sect-one-hover {
  text-decoration: none;
}
.btn-one {
  background-color: #288855;
  padding: 0.5rem 3rem;
  color: white;
  text-align: center;
  border: none;
  border-radius: 0.3rem;
  text-align: center;
  font-size: 16px;
}
.section-three {
  background-color: #f2fcf9;
}

.about-us {
  color: #f9ae84;
  font-size: 16px;
}

.paragraphs {
  font-size: 16px;
  background-color: black;
}
.june-text,
.card-text-here {
  font-size: 11px;
}
.border-add {
  border-bottom: 2px solid #fbce66;
  padding-bottom: 6px;
}
.text-tone-down {
  color: rgb(167, 167, 167);
}
.icon-sets {
  width: 0.7rem;
  fill: white;
}
footer {
  background-color: #07321b;
}
.footer-links li {
  list-style: none;
}
.footer-links li a {
  font-size: 16px;
}
.footer-p {
  font-size: 15px;
}
.new-header {
  background-color: #f9ecdc;
  padding: 7rem 0;
}
.news-hover:hover {
  text-decoration: underline;
}

.login-section-one {
  background-color: #dbf9ea;
  width: 24rem;
  margin: 0 auto;
}
.login-para {
  font-size: 16px;
}
.home-anchor {
  color: #ffffff;
}

@media (max-width: 768px) {
  .background-imagess {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(/images/hero3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .background-imagess2 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(/images/heroses.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 81px;
    padding-bottom: 81px;
  }
  .background-imagess3 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(/images/image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 52px;
    padding-bottom: 52px;
  }
  .nav-brand {
    visibility: hidden;
  }

  .lading-page-logo {
    width: 8rem;
  }
  .buhari-img {
    width: 70%;
  }
  .down-read {
    display: flex;
    justify-content: center;
  }

  /*ABOUT US STYLING*/
  /* .sect-one-img,
  .sect-oneab-img {
    width: 100%;
  }
  .img-div {
    width: 19rem;
  } */

  .section-oneb {
    margin-bottom: 6rem;
  }
  .section-1-w {
    width: 310px;
    margin: 0 auto;
  }
  .section-1-w1 {
    width: 350px;
    margin: 0 auto;
  }
  .sections-2-textb {
    width: 330px;
    margin: 0 auto;
  }
  .about-us-imgd {
    margin: 0 auto;
    width: 100%;
  }
  .about-us-img {
    width: 60%;
  }
  .sections-2-text {
    width: 330px;
    margin: 0 auto;
    padding: 1rem 0;
  }
  .width-value {
    width: 40%;
  }

  /* .textss-wrap {
    width: 300px;
    margin: 0 auto;
  } */
  .img-div-class {
    width: 80%;
    margin: 0 auto;
  }
  .sect-two-pp {
    font-size: 0.9rem;
    width: 320px;
    margin: 0 auto;
  }
  .sect-two-ppx {
    width: 300px;
    margin: auto;
  }
  .carousel-p1 {
    width: 320px;
    margin: 0 auto;
  }
  .carousel-h11 {
    padding: 0 3rem;
  }
  .card-slider {
    width: 21rem;
  }
  .card-images {
    height: 15rem;
  }
  .apply-now-btn {
    border: none;
    background-color: #288855;
    padding: 0.8rem 2rem;
    color: #ffffff;
    border-radius: 0.2rem;
    font-size: 12px;
    margin-right: 0.6rem;
  }
  .learn-more-btn {
    border: none;
    background-color: #dbf9ea;
    padding: 0.8rem 2rem;
    color: #288855;
    border-radius: 0.2rem;
    font-size: 12px;
    margin-right: 0.6rem;
    font-weight: 600;
  }
}

@media (min-width: 769px) {
  .lading-page-logo {
    width: 8rem;
  }
  .nasim-logo-1 {
    text-align: left;
  }
  .carousel-h111 {
    padding-right: 8rem;
    line-height: 2;
  }
  .nav-brand {
    visibility: visible;
  }
  .sect-one-text h3,
  .sect-one-text p {
    text-align: left;
  }

  .section-one-about {
    display: flex;
    align-items: center;
    gap: 15rem;
  }

  .card-textts {
    text-align: left;
    margin: 0 auto;
  }
  .sect-two-div {
    display: flex;
    gap: 3rem;
    align-items: center;
  }
  .carouse {
    padding: 8rem;
  }

  .section-twoss-container {
    width: 60%;
    margin: 0 auto;
  }
  .linkss-flex {
    display: flex;
    justify-content: start;
  }
  .sect-oneab-img {
    width: 30rem;
  }
  .section-one-news {
    display: flex;
    align-items: center;
    gap: 10rem;
  }
  .sect-two-ppx {
    width: 500px;
    margin: auto;
  }
  .portal-container {
    display: flex;
    gap: 8rem;
  }
  .card-slider {
    width: 30rem;
  }
  .card-images {
    height: 22rem;
  }
}

@media (min-width: 576px) {
  .card-text-one {
    width: 500px;
    margin: 0 auto;
  }
}

@media (min-width: 769px) {
  .background-imagess .carousel-h1,
  .background-imagess2 .carousel-h1,
  .background-imagess3 .carousel-h1 {
    color: #000000;
    text-align: left;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.3;
    width: 400px;
  }
  /* .background-imagess .carousel-h1 {
    margin: 0 0 3rem 6rem;
  } */
  .carousel-p1 {
    color: #000000;
    text-align: left;
    width: 450px;
    font-size: 16px;
    line-height: 2;
  }
  .carousel-one {
    background-color: #fffbf6;
  }
  .home-anchor {
    color: #000000;
    text-align: left;
  }
  .background-imagess,
  .background-imagess2,
  .background-imagess3 {
    margin-left: 15rem;
  }

  .buhari-img {
    width: 20rem;
  }

  .container-margin {
    width: 70%;
    margin: 0 auto;
  }
  .section-1-w {
    width: 550px;
  }
  .section-one {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-two {
    width: 80%;
    margin: 9rem auto 0;
  }
  .aboutus-content {
    width: 70%;
    margin: 0 auto;
  }
  .positions-fixeds {
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 1;
  }
  .about-container {
    width: 70%;
    margin: 0 auto;
  }
  .sections-2-text {
    width: 500px;
    padding: 1rem 0;
  }
  .sections-2-text1 {
    width: 500px;
  }
  .sections-2-text,
  .sections-2-text1,
  .about-us {
    text-align: left;
  }
  .sect-two-flex {
    display: flex;
    gap: 8rem;
    align-items: center;
  }
  .img-div-class {
    width: 23rem;
  }
  .about-us-img {
    width: 20rem;
  }
  .apply-now-btn {
    border: none;
    background-color: #288855;
    padding: 0.8rem 3rem;
    color: #ffffff;
    border-radius: 0.2rem;
    font-size: 16px;
    margin-right: 0.6rem;
  }
  .learn-more-btn {
    border: none;
    background-color: #dbf9ea;
    padding: 0.8rem 3rem;
    color: #288855;
    border-radius: 0.2rem;
    font-size: 16px;
    margin-right: 0.6rem;
    font-weight: 600;
  }
  .last-items {
    background-color: #f2fcf9;
  }
  .secon-tolast {
    background-color: #fcf4f2;
  }
  .section-1-w1 {
    width: 300px;
  }
}

/* ABOUT US PAGE STYLE */
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/images/about1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7rem 0;
}

/* .sect-one-text h3,
.sect-one-text p {
  text-align: center;
} */
.section-two-about {
  background-color: #fffbf6;
  margin-top: 2rem;
}
.card-text-abt {
  font-size: 16px;
}
.sect-two-div {
  margin-top: 5rem;
}
.img-div2 {
  width: 90%;
}

.sect-oneab-img {
  width: 100%;
}
.sect-two-pp {
  font-size: 16px;
  width: 400px;
  /* margin: 0 auto; */
}
.read-more {
  font-size: 16px;
}
.put-marg {
  margin-top: 3rem;
  background-color: #fcfcfc;
  padding: 2rem 0;
}
.put-marg2 {
  margin: 6rem 0;
}
.add-alignment {
  text-align: center;
}
.add-text-color {
  color: #f9ae00;
}
.card-parapraph-text {
  font-size: 16px;
  padding: 1rem 0 2rem 0;
}

.card-slider {
  border: none;
}
.section-three {
  padding: 3rem 0;
}

/* CARDSS */
